.cart {
  display: flex;
  padding: 10px;
  position: relative;
}

.quantity {
  display: flex;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  border-radius: 50%;
  align-items: center;
  font-size: 12px;
}

.quantity > p {
  margin: auto;
}

.price {
  margin: auto;
  margin-left: 5px;
}
