nav {
  border-bottom: 1px solid var(--dark-grey);
}

ul {
  display: flex;
}

li {
  padding: 20px;
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
}

.cartContainer {
  display: flex;
}
