.navbar {
  justify-self: end;
}

.navbarContainer {
  display: flex;
  align-items: center;
  padding: 15px;
  transition: color 0.2s;
}

.navbarContainer i {
  transition: color 0.2s;
}

.navbarContainer i:hover {
  color: #000;
}

.cartContainer {
  display: flex;
}
