.singleProduct {
  margin: 20px auto;
  display: flex;
  border: 1px solid rgb(212, 212, 212);
  padding: 10px;
  border-radius: 3px;
}

.img img {
  width: 150px;
  border: 1px solid rgb(212, 212, 212);
  padding: 1px;
  margin-right: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  margin-top: 5px;
}

.price {
  color: var(--blue);
  margin-top: 10px;
}

.button {
  width: 135px;
  height: 37px;
  margin-top: auto;
  margin-left: auto;
  padding: 10px;
  border: none;
  background: var(--red);
  color: #fff;
  font-weight: 600;
  outline: none;
  font-size: 14px;
  cursor: pointer;
  border-radius: 3px;
  white-space: nowrap;
}

.buttonAdded {
  background: black;
}

.addButton:hover {
  transform: scale(1.1);
}
