:root {
  --main: #fdb813;
  --secondary: #333;
  --light-grey: #f4f4f4;
  --dark-grey: #e1e1e1;
  --blue: #0062bd;
  --red: #f30f30;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Lato", sans-serif;
  color: var(--secondary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: var(--secondary);
}

/* Utilities */
.container {
  max-width: 1200px;
  margin: auto;
}

header {
  background: var(--main);
}
